body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f5f7fa;
text-align: center;
}

header {
background: #111827;
color: white;
padding: 30px;
}

section {
padding: 40px;
}

a {
color: #2563eb;
text-decoration: none;
font-weight: bold;
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
footer {
background: #111827;
color: white;
padding: 20px;
margin-top: 40px;
}
